html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: #000;
  background: #ffffff;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  padding: 110px 20px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  text-align: center;
}

.text {
  text-indent: 2em;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 9999;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 30px;
}

.nav__item + .nav__item {
  padding-left: 40px;
}

.nav__link {
  font-weight: 900;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav__link:hover {
  color: #6a0dc2;
}

.def__title {
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #101a06;
  letter-spacing: 5px;
}

.def__item {
  margin-bottom: 10px;
  text-indent: 2em;
  text-align: justify;
}

.def__link {
  color: #8bc34a;
  text-decoration: none;
}

.style-notion {
  color: #6a0dc2;
  letter-spacing: 2px;
  font-weight: 900;
}

.design__item {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 30px;
}

.design__datatype {
  color: #607d8b;
}

.design__value {
  color: #fac92f;
}

.design__operator {
  color: #ffba00;
}

.design__argument {
  color: #b39ddb;
}

.design__name-function {
  color: #11B7D4;
}

.design__name-variable {
  color: #c62f52;
}

.design__property {
  color: #c145e0;
}

.design__keywords {
  color: #00a884;
}

.design__object {
  color: #d4770c;
}

.design__method {
  color: #42a5f5;
}

.design__example {
  font-style: italic;
}

.design__definition {
  padding-left: 10px;
  color: #7e75e6;
  border-left: 8px solid #7e75e6;
}

.design__rules {
  padding-left: 10px;
  color: #42a5f5;
  border-left: 8px solid #42a5f5;
}

.design__error {
  padding-left: 10px;
  color: #ff6b00;
  border-left: 8px solid #ff6b00;
}

.design__task {
  padding-left: 10px;
  color: #8bc34a;
  border-left: 8px solid #8bc34a;
}

.design__application {
  padding-left: 10px;
  color: #00bcd4;
}

/* li {
  color: #eba050; 
  color: #38c7bd;
  color: #E35535;
  color: #a85ff1;
  color: #BC62AD;
  color: #3585bb;
} */
.tasks {
  position: relative;
}

.tasks__wrapper {
  position: absolute;
  top: 74px;
}

.tasks__list {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #32363c;
  color: #fff;
  z-index: 999;
}

.tasks__item {
  font-size: 28px;
  font-weight: 700;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.tasks__item + .tasks__item {
  padding-left: 40px;
}

.tasks__item:hover {
  color: aquamarine;
}

.task {
  position: relative;
  padding-top: 60px;
}

.task__title {
  padding-left: 10px;
  margin-bottom: 10px;
  color: #8bc34a;
  font-weight: 700;
  border-left: 8px solid #8bc34a;
}

.task__title::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 50px;
  width: 100%;
  height: 2px;
  background-color: #cfc1c1;
}

.task__title.hiden::after {
  display: none;
}

.task__description > p {
  text-indent: 1.5em;
  text-align: justify;
}

.garold > img {
  width: 100%;
  height: 100%;
}

code {
  border-radius: 10px;
}

.collapsible {
  width: 20%;
  padding: 10px;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: #8bc34a;
  font-weight: 700;
  border: none;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.active, .collapsible:hover {
  text-decoration: underline;
  color: #8bc34a;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.cheats__name {
  color: #7e75e6;
  font-size: 30px;
}

.cheats__name:hover {
  color: #7e75e6;
}

.cheats__info {
  padding-bottom: 10px;
  color: #232b1b;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4px;
}

.cheats__item {
  list-style: inside;
  margin-left: 40px;
  padding-bottom: 5px;
}

.cheats__item > span {
  color: #42a5f5;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */