html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  color: #000;
  background: rgb(255, 255, 255);
  font-size: 24px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.container {
  max-width: 1440px;
  padding: 10px 20px;
  margin: 0 auto;
}
.title {
  font-size: 36px;
  text-align: center;
}
.text {
  text-indent: 2em;
}
//? color
.style-notion {
  color: rgb(106, 13, 194);
  letter-spacing: 2px;
  font-weight: 900;
}

.style {
  font-weight: 700;
  &__datatype {
    color: #607d8b;
  }
  &__value {
    color: #ffba00;
  }
  &__name-function {
    color: #11B7D4;
  }
  &__name-variable {
    color: #c62f52;
  }
  &__property {
    color: #c145e0;
  }
  &__keywords {
    color: #00a884;
  }
  &__object {
    color: #d4770c;
  }
  &__example {
    font-style: italic;
  }
  &__definition {
    padding-left: 10px;
    color: #7e75e6;
    border-left: 8px solid #7e75e6;
  }
  &__rules {
    padding-left: 10px;
    color: #42a5f5;
    border-left: 8px solid #42a5f5;
  }
  &__error {
    padding-left: 10px;
    color: #ff6b00;
    border-left: 8px solid #ff6b00;
  }
  &__task {
    padding-left: 10px;
    color: #8bc34a;
    border-left: 8px solid #8bc34a;
  }
  &__application {
    padding-left: 10px;
    color: #00bcd4;
  }
}
/* li {
  color: #eba050; 
  color: #38c7bd;
  color: #E35535;
  color: #a85ff1;
  color: #BC62AD;
  color: #3585bb;
} */
